/*
__pycache__
!gamdl
!gamdl/downloader
!gamdl/downloader/**
gamdl/downloader/muxer/target/
gamdl/downloader/**/__pycache__/
gamdl/muxer/
!.gitignore
!.python-version
!pyproject.toml
!README.md
!tests
!tests/**
tests/__pycache__/
!uv.lock
gamdl/*.so
