/*
__pycache__
!gamdl
!gamdl/downloader
!gamdl/downloader/**
gamdl/downloader/ammuxer/target/
gamdl/downloader/**/__pycache__/
gamdl/ammuxer/
!.gitignore
!.github
!.github/**
!.python-version
!pyproject.toml
!README.md
!tests
!tests/**
tests/__pycache__/
!uv.lock
gamdl/*.so
